<div class="innerWrapper" style="width: 100%; position: relative; ">
	<div class="titleWrapper">
		<input type="text" id="columnHeading" name="columnHeading" placeholder="Column Title" value="{{title}}" class="columnHeadingTitle" size="30" maxlength="30" style="display: inline-block; ">
	</div>
	<div id="columnCategories" class="form" style="display: block; ">
		<label>Show Categories:</label>
		{{#each categories}}
		<label class="checkbox">
			<input type="checkbox" id="{{heading_order}}uid_{{id}}" name="{{heading_order}}uid_{{id}}">    
			<label id="{{heading_order}}uid_{{id}}_label" for="{{heading_order}}uid_{{id}}" >{{title}}</label>
		</label>  
		{{/each}}		
		</div>
	<div class="condensedHeadingTitle" style="display: none; ">Column Title</div>
</div>